// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

// $primary: #148f49;
// $secondary: #26a69a;
// $accent: #9c27b0;

// $dark: #1d1d1d;
// $dark-page: #121212;

// $positive: #21ba45;
// $negative: #c10015;
// $info: #31ccec;
// $warning: #f2c037;

// Primary/Secondary/Accent
$primary: #7e57c2; // ljubičasta – sofisticirana, futuristička
$secondary: #5e35b1; // tamnija ljubičasta za sekundarne akcije
$accent: #ffca28; // žuti detalji za hover/akcije

$dark: #121212;
$dark-page: #1e1e1e;

$positive: #4caf50;
$negative: #f44336;
$info: #29b6f6;
$warning: #ffb300;
