// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

// Primary/Secondary/Accent
$primary: #7e57c2; // ljubičasta – sofisticirana, futuristička
$secondary: #5e35b1; // tamnija ljubičasta za sekundarne akcije
$accent: #ffca28; // žuti detalji za hover/akcije

$dark: #121212;
$dark-page: #1e1e1e;

$positive: #4caf50;
$negative: #f44336;
$info: #29b6f6;
$warning: #ffb300;

$message-me-light: #d9fdd3;
$message-other-light: #ffffff;

$message-other-dark: #202c33;
$message-me-dark: #005c4b;

$text-light: #121212;
$text-dark: #ffffff;
